.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left > img {
    object-fit: contain;
    height: 80px;
    margin-left: 5px;
}

.header__middle {
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.header__middle > input {
    border: none;
    outline-width: 0;
    width: 90%;
    font-size: medium;
    background-color: transparent;
    padding: 10px;
}

.header__middle > .MuiSvgIcon-root {
    color: grey;
}

.header__right {
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
}